nav {
    background-color: #000000bb;
}
.slide {
    background-position: center;
    background-size: cover;
}
.slide1 {
    background-image: url('https://images.pexels.com/photos/5211058/pexels-photo-5211058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.slide2 {
    background-image: url('https://images.pexels.com/photos/5211062/pexels-photo-5211062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.slide3 {
    background-image: url('https://images.pexels.com/photos/5211059/pexels-photo-5211059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.slide4 {
    background-image: url('https://images.pexels.com/photos/5211057/pexels-photo-5211057.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.slide5 {
    background-image: url('https://images.pexels.com/photos/5211061/pexels-photo-5211061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.slide6 {
    background-image: url('https://images.pexels.com/photos/5211056/pexels-photo-5211056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.slide7 {
    background-image: url('https://images.pexels.com/photos/5211060/pexels-photo-5211060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.curved-div {
    width: 100%;
    height: 30px;
    background-color: #b6b6b6;
    border-radius: 5px 0px 0px 0px;
}
.slide svg {
    margin-top: 450px;
}
